*{
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;

}
body{
  overflow: hidden;
}
.content{
  color: aliceblue;
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px 0;
  font-size: 1.5rem;
  background: rgba(51, 51, 51, 0.856);
  
  text-transform: capitalize;
}
a{
  text-decoration: none;
  color: aliceblue;
}
header ul li{
  display: inline;
  list-style: none;
  padding: 0 20px;
}
h1{
  text-transform: capitalize;
  font-size: 3rem;
}
p{
  font-size: 1.5rem;
}
#home{
  background: url('media/pexels-photo-1303081.jpeg') no-repeat center center /cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
#service{
  background: url('media/354962.jpg') no-repeat center center /cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
#contact{
  background: url('media/macos_sierra_2-wallpaper-2560x1440.jpg') no-repeat center center /cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
#about{
  background: url('media/stones-photography-hd-wallpaper-2560x1440-37063.jpg') no-repeat center center /cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}